@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #222;
}

.transtion {
  transition: all 0.3s ease-in-out;
}

.text-gradient_blue-purple {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(243deg, #4ca5ff, #b573f8);
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-bg {
  background-image: linear-gradient(243deg, #4ca5ff, #b573f8);
}

.light_line {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    90deg,
    rgba(161, 161, 161, 0),
    #dadbdd 50%,
    rgba(13, 17, 23, 0)
  );
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

.grid-bg {
  width: 100%;
  background-image: url("/grid.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
