@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #222;
}

.transtion {
  transition: all 0.3s ease-in-out;
}

.text-gradient_blue-purple {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(243deg, #4ca5ff, #b573f8);
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-bg {
  background-image: linear-gradient(243deg, #4ca5ff, #b573f8);
}